.search-container {
    overflow: scroll;
    margin-top: 0.55rem;
    width: 30rem;
    max-height: 70%;
}

.linkadd-area{
    right: 3rem;
    bottom: 3em;
}

.hover-title:hover {
    text-decoration: underline
}

@media (max-width: 992px) {
  .search-container {
      margin-top: 0.5rem;
      width: calc(100vw - 1.5rem) !important;
      max-height: 40%;
  }
  .linkadd-area {
    right: 2rem;
    bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .linkadd-area {
      float: right !important;
    max-width: calc(100vw - 4rem);
    right: 2rem;
    bottom: 2rem;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -1.5rem; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1.5rem; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 1.5rem;
}
